/* ------ Global Styling ------ */

html {
    font-size: 62.5%;

}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

* {
    box-sizing: border-box;
    font-family: 'Merriweather', sans-serif;
}

/* ---x--- Global Styling ---x--- */


/* ------ Variables ------ */

:root {
    --bg-color: #ced4da;
    --filter-uncheck-color: #b3beff;
    --filter-check-color: #6f46a6;
    --white-color: #ffffff;
    --img-bg-color: #d5d5d53d;
    --title-color: #1e96fc;
    --data-color: #1d317d;
}

/* ---x--- Variables ---x--- */


/* ------ Filter ------ */

.main-filter-section .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
}

.main-filter-section .main-heading {
    height: 10rem;
    background-color: var(--white-color);
    box-shadow: 0 1rem 1rem 0.2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
}

.main-filter-section .main-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: relative;
}

.main-filter-section .main-wrapper .filter-content {
    background: var(--white-color);
    border-radius: 0.5rem;
    min-width: 25rem;
    max-width: 25rem;
    transition: 0.4s;
    margin-right: 2.5rem;
}

.main-filter-section .main-wrapper .filter-content h5 {
    font-size: 2rem;
    margin: 1.2rem 0 0 1.5rem;
}

.main-filter-section .main-wrapper .filter-content h6 {
    font-size: 1.7rem;
    margin: 1rem 4rem;
    text-align: center;
    font-weight: 100;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid black;
}

.main-filter-section .main-wrapper .filter-content .filter-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 2.5rem;
}

.main-filter-section .main-wrapper .filter-content .filter-flex .filter-checklist {
    width: calc(50% - 2rem);
    margin-bottom: 19px;
}

.main-filter-section .main-wrapper .filter-content .filter-flex .filter-checklist label {
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;
    display: block;
    text-align: center;
    padding: 0.5rem 0;
    background: var(--filter-uncheck-color);
    border-radius: 0.5rem;
    cursor: pointer;
}

.main-filter-section .main-wrapper .filter-content .filter-flex .filter-checklist input {
    display: none;
}

.main-filter-section .main-wrapper .filter-content .filter-flex .filter-checklist input:checked+label {
    background: var(--filter-check-color);
    color: var(--white-color);
}

/* ---x--- Filter ---x--- */


/* ------ Card ------ */

.main-filter-section .main-wrapper .card-content {
    border-radius: 1rem;
    position: relative;
    text-align: center;
    transition: 0.3s;
    width: 100%;
}

.main-filter-section .main-wrapper .card-content .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.main-filter-section .main-wrapper .card-content .card-wrapper .card {
    width: calc(25% - 1.1rem);
    padding: 2.5rem;
    background: var(--white-color);
    border-radius: 0.5rem;
    margin-bottom: 1.4rem;
    margin-right: 1.4rem;
}

.main-filter-section .main-wrapper .card-content .card-wrapper .card img {
    width: 100%;
    display: block;
    background: var(--img-bg-color);
}

.main-filter-section .main-wrapper .card-content .card-wrapper .card .content-wrapper {
    margin: 0 0.1rem;
}

.main-filter-section .main-wrapper .card-content .card-wrapper .card .content-wrapper h4 {
    margin: 1.5rem 0 2rem 0;
    font-size: 1.8rem;
    color: var(--title-color);
}

.main-filter-section .main-wrapper .card-content .card-wrapper .card .content-wrapper .data-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.main-filter-section .main-wrapper .card-content .card-wrapper .card .content-wrapper .data-row span:nth-child(1) {
    font-weight: 600;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.main-filter-section .main-wrapper .card-content .card-wrapper .card .content-wrapper .data-row span:nth-child(2) {
    color: var(--data-color);
    font-size: 1.5rem;
    font-weight: 400;
}

.main-filter-section .main-wrapper .card-content .card-wrapper .card .content-wrapper :nth-child(2) {
    flex-wrap: wrap;
}

.main-filter-section .main-wrapper .card-content .card-wrapper .card .content-wrapper :nth-child(2) span:nth-child(2) {
    width: 100%;
    margin: 0.5rem 0 0 3rem;
    position: relative;
}

.main-filter-section .main-wrapper .card-content .card-wrapper .card .content-wrapper :nth-child(2) span:nth-child(2)::after {
    content: '';
    position: absolute;
    left: -2rem;
    top: 0.6rem;
    height: 0.6rem;
    width: 0.6rem;
    border-radius: 50%;
    background-color: var(--data-color);
}

.main-filter-section .main-wrapper .card-content .card-wrapper :nth-child(4n+4) {
    margin-right: 0;
}

/* ---x--- Card ---x--- */


/* ------ Footer ------ */

.footer {
    margin: 2rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
}

.footer a {
    text-decoration: none;
    color: #e31b6d;
}

/* ---x--- Footer ---x--- */




/* ------ Media Queries ------ */

@media (max-width: 1200px) {
    .main-filter-section .main-wrapper.open .card-content .card-wrapper .card {
        width: calc(33.33% - 1.1rem);
        margin-right: 1.4rem;
    }

    .main-filter-section .main-wrapper.open .card-content .card-wrapper .card:nth-child(3n+3) {
        margin-right: 0;
    }
}

@media (max-width: 1023px) {
    .main-filter-section .main-wrapper .card-content .card-wrapper .card {
        width: calc(50% - 1.1rem);
        margin-right: 2.2rem;
    }

    .main-filter-section .main-wrapper .card-content .card-wrapper .card:nth-child(2n+2) {
        margin-right: 0;
    }

    .main-filter-section .main-wrapper.open .card-content .card-wrapper .card {
        width: calc(50% - 1.1rem);
        margin-right: 2.2rem;
    }

    .main-filter-section .main-wrapper.open .card-content .card-wrapper .card:nth-child(2n+2) {
        margin-right: 0;
    }

    .main-filter-section .main-wrapper.open .card-content .card-wrapper .card:nth-child(3n+3) {
        margin-right: auto;
    }
}

@media (max-width: 800px) {
    .main-filter-section .main-wrapper.open .card-content .card-wrapper .card {
        width: 100%;
        margin: 0 0 2rem;
    }

    .main-filter-section .main-wrapper.open .card-content .card-wrapper .card:nth-child(2n+2) {
        margin-right: 0;
    }
}

@media (max-width: 700px) {
    .main-filter-section .main-wrapper {
        flex-direction: column;
    }

    .main-filter-section .main-wrapper .filter-content {
        margin: 0 auto 3rem !important;
        min-width: auto !important;
        max-width: 30rem !important;
    }

    .main-filter-section .main-wrapper .card-content .card-wrapper .card {
        width: 100%;
        margin: 0 0 2.5rem;
    }
}

/* ---x--- Media Queries ---x--- */